:javascript
  $(document).ready(function(){
    $("#tree").tree(
      {

        data: {
          type  : "json",
          url   : "/nodes.json",
          async : true,
        },
        
        cookies : true,

        ui: {
          //theme_name  : "classic"
          animation   : 250,
        },

        callback: {
          onselect: function(node, tree) { $("#stats").load("/nodes/"+node.id); },                  // node deselected
        },

      }
    );

    /*
    $(".drawerbutton").toggle(
      //function(){ $("#searchdrawer").addClass("hidden");     console.log("hide!"); },
      //function(){ $("#searchdrawer").removeClass("hidden");  console.log("show!"); }
      function(){ $("#searchdrawer").hide(); },
      function(){ $("#searchdrawer").show(); }
    );
    */
    $(".drawerbutton").click(
      function(){ $("#searchdrawer").slideToggle("slow"); }
    );

  });

#tree

#stats


#searchbox
  %form{:action=>search_url}
    = text_field_tag("q")

/
  .drawerbutton
  #searchdrawer.opened
    .searchfield
      %form
        = text_field_tag("search")
    #results
      results!